LANGSMITH_API_KEY="<langsmith-api-key>"
LANGSMITH_PROJECT="<langsmith-project>"
LANGSMITH_TRACING="true"

DB="<postgres-name>"
DB_HOST="<postgres-host>"
DB_USER="<postgres-admin-name>"
DB_PASSWORD="<postgres-admin-password>"

GROQ_API_KEY="<groq-api-key>"